<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.4" targetFramework="net472" />
  <package id="FSharp.Data" version="3.0.0" targetFramework="net472" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net45" />
  <package id="Gjallarhorn" version="1.2.3" targetFramework="net472" />
  <package id="Gjallarhorn.Bindable" version="1.0.0-beta7" targetFramework="net472" />
  <package id="Gjallarhorn.Bindable.Wpf" version="1.0.0-beta7" targetFramework="net472" />
</packages>